@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1600px) {
    #footer-image {
        width: 100px;
        height: 150px;
    }
    #footer-image img {
        width: 100%;
        height: 100%;
    }
    #footer #footer-container #additional-footer {
        margin-top: 50px;
    }

}

@media screen and (max-width: 1491px) {
    #info #left-image {
        width: 200px;
    }
    #info #left-image img {
        width: 100%;
        height: 100%;
    }
    #info #right-image {
        width: 200px;
    }
    #info #right-image img {
        width: 100%;
        height: 100%;
    }
    #promo #promo-image-right {
        width: 300px;
        height: 150px;
    }
    #promo-image-right img {
        width: 100%;
        height: 100%;
    }

    #additional-info #image-left {
        width: 200px;
        top: 500px;
    }
    #additional-info #image-left img {
        width: 100%;
        height: 100%;
    }
    #additional-info #image-right {
        width: 180px;
        height: 300px;
    }
    #additional-info #image-right img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1400px) {
    #footer-image {
        width: 80px;
        height: 120px;
    }
    #footer-image img {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1349px) {
    #additional-info #image-right {
        width: 120px;
        height: 200px;
    }
    #footer-image {
        width: 40px;
        height: 80px;
    }
    #footer-image img {
        width: 100%;
        height: 100%;
    }
    #footer #footer-container #additional-footer {
        margin-top: 30px;
    }
}
@media screen and (max-width: 1270px) {
    #footer-image {
        display: none;
    }
    .slick-prev {
        left: -10px;
    }
    .slick-next {
        right: -10px;
    }
}

/*1024-1229*/
@media screen and (max-width: 1229px){
    #header #header-container {
        width: 90%;
    }
    #main #main-container {
        width: 90%;
    }

    #main-image {
        width: 300px;
        height: 320px;
    }
    #main-image img {
        width: 100%;
        height: 100%;
    }

    #info #info-container {
        margin: 0 auto;
    }

    #info-container #info-description .description-block {
        justify-content: center;
        max-width: 870px;
        margin: 0;
    }

    #info-container #info-description .description-block .description-block-text {
        max-width: 350px;
        margin-left: 30px;
    }

    #info-container #info-description #second-description-block {
        top: 220px;
        left: 295px;
        max-width: 720px;
    }

    #info #info-container #product .product-container {
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    #info #info-container #product .product-container .product-items {
        justify-content: center;
        align-content: center;
        max-width: 700px;
    }
    #info #info-container #product .product-container .main-product-item {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #info #info-container #product .product-container .product-item {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #promo #promo-container {
        width: 90%;
        margin: 0;
    }
    #promo #promo-container #promo-description #promo-text {
        width: 90%;
    }
    #promo #promo-container #promo-description {
        margin-left: 68px;
    }
    #promo #promo-image-left {
        width: 400px;
    }
    #promo #promo-image-left img {
        width: 100%;
        height: 100%;
    }
    #additional-info-container {
        width: 90%;
    }
    #additional-info-container #features #features-container {
        justify-content: left;
    }
    #features #features-container #features-left {
        margin-right: 35px;
    }
    #features #features-container .feature:nth-child(2n) {
        left: 120px;
        top: 250px;
    }
    #photo #photo-container #photo-box img {
        width: 230px;
    }
    #photo-main {
        width: 380px;
    }
    #photo-main img {
        width: 100%;
        height: 100%;
    }
    #photo #photo-container #photo-box {
        margin-right: 50px;
        justify-content: space-around;
    }

    #additional-info #additional-info-container #information {
        margin-bottom: 80px;
        flex-direction: column;
        align-items: center;
    }
    #additional-info-container #information .information-box {
        margin-bottom: 20px;
    }

    #footer #footer-container {
        width: 90%;
    }

    #up {
        bottom: 35px;
        right: 10px;
    }
}

/*977-1023*/
@media screen and (max-width: 1023px) {
    #header #header-container {
        padding: 30px 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #header #header-container .logo {
        order: 1;
    }
    #header #header-container #header-action {
        order: 2;
    }
    #header #header-container #header-items {
        order: 3;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    #main-image img {
        width: 200px;
        height: 250px;
    }

    #info #info-container {
        margin: 0 30px;
    }
    .description-block-image {
        width: 200px;
    }
    #info-container #info-description #second-description-block {
        position: static;
    }
    #info-container #info-description .description-block {
        max-width: 720px;
        margin: 0 auto;
    }

    #info #info-container #product .product-container {
        text-align: center;
    }

    #info #info-container #product {
        margin-top: 130px;
    }

    #info #right-image {
        top: 700px;
    }
    #promo-image #second-image {
        bottom: -60px;
        left: 140px;
    }
    #promo #promo-container {
        align-items: center;
    }
    #promo #promo-container #promo-description .block-title {
        font-size: 32px;
        margin-bottom: 30px;
    }
    #features #features-container #features-left {
        margin-right: 0;
    }
    #features #features-container #features-right{
        margin-top: 220px;
    }
    #additional-info-container #features #features-container {
        display: block;
        margin-left: 60px;
    }
    #additional-info-container #features #features-container .feature {
        width: 400px;
    }
    #features #features-container .feature:nth-child(2n) {
        left: 350px;
        top: 210px;
    }
    #photo-main {
        width: 280px;
    }
    #photo #photo-container #photo-box img {
        width: 200px;
    }
    #photo #photo-container #photo-box {
        margin-right: 50px;
    }
    .slick-slide {
        margin: 0 18px;
    }
    #additional-info #image-right {
        width: 150px;
        height: 270px;
    }
    #footer #footer-container #main-footer {
        justify-content: space-evenly;
    }
    #footer #footer-container #additional-footer {
        justify-content: space-evenly;
    }
    #footer #footer-container #main-footer #social-network {
        margin: 0;
    }

}

@media screen and (max-width: 977px) {
    #photo #photo-container #photo-box {
        margin-right: 0;
    }
    #promo-image #second-image {
        bottom: -60px;
        left: 140px;
    }
}

@media screen and (max-width: 870px) {
    #features #features-container .feature:nth-child(2n) {
        left: 300px;
        top: 230px;
    }
    #additional-info-container #features #features-container {
        margin-left: 0;
    }
    #promo-image #second-image {
        bottom: -60px;
        left: 140px;
    }
}

/*490-767*/
@media screen and (max-width: 767px){
    #header #header-container #header-items {
        justify-content: space-between;
    }
    #main #main-container {
        flex-direction: column;
    }
    #main-description {
        order: 2;
        padding-top: 40px;
        text-align: center;
    }
    #main-image {
        order: 1;
        margin: 30px auto 0 auto;
    }
    #main-image img {
        width: 300px;
        height: 320px;
    }

    #main-container #main-description #main-description-text {
        text-align: center;
        margin: 0 auto 30px auto;
    }

    #info #info-container {
        margin: 0 auto;
    }

    #info-container #info-description .description-block {
        max-width: 450px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #info-container #info-description #second-description-block {
        position: static;
        max-width: 450px;
        margin-top: 10px;
    }
    #info-container #info-description .description-block .description-block-image {
        width: 200px;
    }
    #info-container #info-description .description-block .description-block-image img {
        width: 100%;
    }
    #info-container #info-description .description-block .description-block-text {
        max-width: 380px;
        text-align: center;
        margin: 0 auto;
    }

    #info #right-image {
        opacity: 0.1;
    }
    #info #info-container #product {
        margin: 110px auto 0 auto;
    }
    #info #info-container #product .product-container {
        flex-direction: column;
    }
    #info #info-container #product #product-category .category {
        margin: 0 20px;
    }
    #info #info-container #product .product-container .main-product-item{
        padding: 30px 20px;
        margin: 0 auto;
    }
    #info #info-container #product .product-container .main-product-item .main-product-item-text {
        text-align: center;
    }

    #info #info-container #product .product-container .product-item .product-item-image {
        width: 160px;
        margin: 0;
    }

    #info #info-container #product .product-container .product-item .product-item-image img {
        width: 100%;
    }

    #info #info-container #product .product-container .product-item {
        width: 180px;
    }

    #info #info-container #product .product-container .product-items {
        max-width: 490px;
    }

    #promo #promo-container {
        margin: 0 auto;
        flex-direction: column;
        padding-top: 50px;
    }
    #promo #promo-image-left {
        z-index: 0;
    }
    #first-image {
        width: 100%;
        height: 100%;
    }
    #promo-image {
        width: 200px;
    }
    #promo #promo-container #promo-description {
        margin: 0 auto;
        text-align: center;
        z-index: 50;
    }
    #promo #promo-container #promo-description #promo-text {
        margin: 0 auto;
    }
    #promo-image #second-image {
        bottom: 0;
        top: 150px;
        left: 120px;
        width: 50%;
    }
    #additional-info #image-right {
        opacity: 0.2;
    }
    #features #features-container .feature:nth-child(2n) {
        left: 45px;
        top: 240px;
    }
    #features #features-container #features-right {
        margin: 0 auto;
        width: 390px;
    }
    #additional-info-container #features #features-container {
        margin: 0 auto;

    }
    #additional-info-container #features #features-container .feature {
        margin: 10px auto 0 auto;
        position: static;
        border: none;
        width: 380px;
    }

    #features #features-container #features-left {
        margin: 0 auto;
    }

    #features #features-container #features-left:first-child {
        width: 390px;
    }

    #photo {
        margin-top: 110px;
    }

    #photo #photo-container {
        align-items: center;
        flex-direction: column;
        max-width: 500px;
        margin: 65px auto 0 auto;
    }

    #photo #photo-container #photo-box {
        justify-content: space-evenly;
    }

    #additional-info #image-left {
        top: 650px;
    }

    #additional-info #additional-info-container #information{
        margin-top: 30px;
    }
    #additional-info-container #information .information-box {
        margin: 20px auto 0 auto;
        max-width: 450px;
    }

    #footer #footer-container #main-footer {
        margin: 0 auto;
        max-width: 350px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #footer #footer-container #main-footer #call {
        margin: 15px auto 0 auto;
    }
    #footer #footer-container #additional-footer {
        max-width: 450px;
        margin: 30px auto 0 auto;
        justify-content: space-between;
    }
    .slick-slide {
        margin: 0 10px;
    }
    #reviews .slick-prev {
        left: -20px;
    }
    #reviews .slick-next {
        right: -20px;
    }
    #up svg {
        opacity: 0.7;
    }
    #promo #promo-container #promo-description .block-title {
        margin: 0 auto 30px auto;
        text-align: center;
    }
    #popup-content {
        max-width: 440px;
    }
    #popup-image {
        display: none;
    }
    #popup-sent #popup-sent-text {
        max-width: 360px;
        margin-top: 30px;
    }
    #popup-sent {
        max-width: 450px;
        padding: 40px;
        background-size: cover;
        background-position: center top;
    }
    #popup-sent .popup-close {
        top: 40px;
        right: 20px;
    }




}

/*425-489*/
@media screen and (max-width: 490px) {
    #header #header-container #header-items {
        margin: 0;
        display: none;
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(39, 60, 17, 0.9);
        z-index: 3;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }

    #header #header-container {
        position: relative;
        justify-content: space-between;
    }

    #header.menu-open {
        background-color: rgba(23, 23, 23, 0.7);
    }

    #burger {
        display: block;
    }

    #header.menu-open #header-container #header-items {
        display: flex;
        justify-content: space-evenly;
    }

    #main-description {
        text-align: center;
    }

    #main-container #main-description h1 {
        font-size: 50px;
    }
    #main-container #main-description #main-advantages .advantage {
        width: 120px;
    }
    #main-image {
        display: none;
    }
    #info #info-container {
        margin: 0 auto;
    }

    #info-container #info-description .description-block {
        max-width: 400px;
    }

    #info-container #info-description #second-description-block {
        position: static;
        margin-top: 20px;
        max-width: 400px;
    }

    #info-container #info-description .description-block .description-block-text {
        border: none;
        width: 400px;
    }
    #info-container #info-description #second-description-block .description-block-text {
        width: 400px;
    }

    #info-container #info-description .description-block .description-block-image {
        border: none;
        margin-top: 10px;
    }

    .description-block-image {
        width: 130px;
    }
    #info #right-image {
        display: none;
    }

    #info #info-container #product {
        margin-top: 130px;
    }
    #info #info-container #product #product-category .category {
        margin: 0 10px;
    }
    #info #info-container #product .product-container .main-product-item {
        margin: 0 auto;
        padding: 0 ;
    }
    #info #info-container #product .product-container .main-product-item .main-product-item-text {
        text-align: center;
    }
    #promo #promo-container{
        margin: 0 auto;
    }
    #promo #promo-container #promo-description {
        margin: 0 auto;
        text-align: center;
        z-index: 50;
    }
    #promo #promo-container #promo-description #promo-text {
        margin: 0 auto 50px auto;
    }

    #promo #promo-container #promo-description .block-title{
        text-align: center;
    }
    #promo-image #second-image {
        left: -90px;
        bottom: 0;
        top: 50px;
        display: block;
        opacity: 0.4;
    }
    #promo-image img {
        display: none;
    }

    #promo-image-right img {
        display: none;
    }

    #additional-info #image-left {
        opacity: 0.6;
    }

    #features #features-container .feature:nth-child(2n) {
        width: 95%;
        left: 0;
        top: 280px;
    }
    #additional-info-container #features #features-container .feature {
        width: 95%;
    }
    #photo #photo-container {
        flex-direction: column;
        align-items: center;
    }
    #reviews #reviews-box {
        padding: 0 10px;
        margin-bottom: 50px;
    }
    #additional-info #additional-info-container #information {
        margin: 40px auto 0 auto;
    }
    #additional-info #image-right img {
        opacity: 0.2;
    }
    #additional-info-container #information .information-box {
        padding: 30px 20px;
        width: 390px;
    }
    #information .information-box .information-item {
        text-align: left;
    }
    #additional-info-container #information .information-box .information-box-title {
        font-size: 30px;
    }
    #information .information-box .information-item .information-item-text .information-item-words {
        font-size: 16px;
    }
    #footer {
        padding: 30px 15px;
    }
    #footer #footer-container #main-footer #social-network {
        order: 3;
    }
    #footer #footer-container #main-footer .logo {
        order: 1;
    }
    #footer #footer-container #main-footer #call {
        order: 2;
        margin: 20px auto;
    }
    #footer #footer-container #main-footer {
        flex-wrap: wrap;
        justify-content: center;
    }
    #footer #footer-container #additional-footer {
        text-align: center;
    }
    #popup-content, #popup-sent {
        max-width: 400px;
    }
    #popup-image {
        visibility: hidden;
    }
    #callback, #callback-sent {
        max-width: 400px;
    }
    #up {
        bottom: 260px;
        right: 25px;
    }
    #up svg {
        opacity: 0.7;
    }

}

/*375-424*/
@media screen and (max-width: 424px) {
    #header #header-container {
        width: 350px;
    }
    #main-description {
        margin: 0 auto;
    }
    #main-container #main-description h1 {
        font-size: 40px;
        margin: 0;
    }
    #main-container #main-description #main-description-text {
        max-width: 340px;
        margin: 50px auto;
    }
    #main-container #main-description #main-advantages .advantage {
        width: 100px;
    }
    #info #left-image {
        width: 100px;
        height: 210px;
        top: -110px;
    }
    #info #right-image {
        width: 100px;
        height: 260px;
        top: 420px;
    }
    #info-container #info-description .block-title {
        font-size: 30px;
    }

    #info-container #info-description .description-block {
        max-width: 350px;
    }

    #info-container #info-description #second-description-block {
        position: static;
        margin-top: 15px;
        max-width: 350px;

    }
    .description-block-image {
        width: 150px;
    }

    #info-container #info-description .description-block .description-block-text {
        width: 350px;
    }

    #info-container #info-description #second-description-block .description-block-text {
        width: 350px;
    }

    #info-container #product .block-title {
        font-size: 30px;
        margin-bottom: 40px;
    }
    #info #info-container #product #product-category {
        flex-direction: column;
    }
    #info #info-container #product #product-category .category {
        margin: 10px auto;
    }
    #info #info-container #product .product-container .main-product-item {
        max-width: 350px;
    }
    #info #info-container #product .product-container .main-product-item .main-product-item-image img{
        width: 310px;
        height: 310px;
    }
    #promo #promo-image-left {
        width: 300px;
    }
    #additional-info-container #features .block-title {
        margin-bottom: 60px;
        font-size: 30px;
    }
    #additional-info-container #photo .block-title {
        font-size: 30px;
    }
    #additional-info-container #reviews .block-title {
        font-size: 30px;
    }
    #additional-info-container #information .information-box {
        width: 340px;
    }

    #features #features-container #features-left:first-child {
        width: 340px;
    }

    #features #features-container #features-right {
        width: 340px;
    }

    #features #features-container .feature .feature-text {
        margin-left: 10px;
    }

    #information .information-box .information-item {
        text-align: left;
    }
    #up {
        right: 12px;
        bottom: 270px;
    }
    #up svg {
        opacity: 0.5;
    }
    #callback, #callback-sent {
        max-width: 350px;
    }
    #callback #callback-image {
        width: 80px;
        height: 90px;
    }
    #popup-content, #popup-sent {
        max-width: 350px;
    }
    #popup-content #popup-main #popup-title {
        margin: 0 auto;
        font-size: 25px;
    }
    #popup-content #popup-main #popup-text {
        margin: 20px auto;
    }
    .popup-input input {
        width: 300px;
    }
    #popup-content #popup-main .popup-data textarea {
        width: 300px;
    }
    #popup-sent #popup-sent-text {
        width: 320px;
        margin: 30px auto;
        font-size: 16px;
    }
    #popup-sent {
        padding: 50px 0;
    }
    #popup-sent .popup-close {
        right: 10px;
    }





}

/*320-374*/
@media screen and (max-width: 374px) {
    #header #header-container {
        width: 300px;
        justify-content: space-around;
    }
    #header #header-container #header-action {
        margin-top: 20px;
    }
    #main-description {
        max-width: 300px;
    }
    #main-container #main-description #main-description-text {
        max-width: 300px;
        margin: 35px auto;
    }
    #main-container #main-description h1{
        font-size: 38px;
    }
    .description-block-image {
        width: 100px;
    }
    #info #right-image {
        width: 80px;
        height: 200px;
        top: 380px;
    }

    #info-container #info-description .description-block {
        max-width: 280px;
    }

    #info-container #info-description #second-description-block {
        position: static;
        margin-top: 15px;
        max-width: 280px;
    }
    #info-container #info-description .description-block .description-block-text {
        max-width: 280px;
    }

    #info #info-container #product #product-category .category {
        font-size: 20px;
    }
    #info #info-container #product .product-container .main-product-item .main-product-item-image img {
        width: 250px;
        height: 250px;
    }
    #info #info-container #product .product-container .main-product-item {
        margin-bottom: 50px;
    }
    #info #info-container #product .product-container .product-item {
        width: 300px;
    }
    #promo-image #second-image {
        left: -60px;
        top: 70px;
    }
    #promo #promo-image-right {
        display: none;
    }
    #additional-info-container #features #features-container .feature {
        width: 280px;
    }
    #features #features-container .feature .feature-image img {
        width: 50px;
    }
    #features #features-container .feature .feature-text .feature-title {
        font-size: 16px;
    }
    #features #features-container .feature .feature-text .feature-words {
        font-size: 12px;
    }
    #photo #photo-container #photo-box img{
        width: 180px;
    }
    #photo-main {
        width: 250px;
    }

    #features #features-container #features-left:first-child {
        width: 280px;
    }
    #features #features-container #features-right {
        width: 280px;
    }

    #additional-info-container #information .information-box {
        width: 290px;
    }
    #information .information-box .information-item img {
        width: 60px;
    }
    #information .information-box .information-item .information-item-text .information-item-title {
        font-size: 18px;
    }
    #information .information-box .information-item .information-item-text .information-item-words {
        font-size: 14px;
    }
    #additional-info-container #information .information-box .information-box-title {
        font-size: 28px;
    }

    #reviews .slick-prev {
        left: -10px;
    }

    #reviews .slick-next {
        right: -10px;
    }

    #callback, #callback-sent {
        max-width: 300px;
    }
    #callback-container .popup-close {
        top: 5px;
        right: 12px;
    }
    #callback #callback-image {
        width: 55px;
        height: 80px;
    }
    #popup-sent {
        width: 300px;
    }
    #popup-sent #popup-sent-text {
        max-width: 290px;
    }
    #popup-sent .popup-close {
        top: 37px;
    }
    #callback .popup-input input {
        width: 200px;
    }
    #callback .btn-green {
        height: 45px;
    }

}